<div class="container-fluid form-template">
  <div class="row">

    <%= link_to   root_path, class: "pull-right close-button" do%>
    <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
    <% end %>
    <div class="col-md-12 hr-modal">
      <hr>
    </div>
    <div class="sessions  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <br>
        <%= form_tag sessions_path do %>
          <div>
            <p>Email:</p>
            <%= email_field_tag :email %>
          </div>
          <div>
          <p>Password:</p>
            <%= password_field_tag :password %>
          </div>
          <%= link_to 'Forgot password?', new_passwords_reset_path %>
          <br>          <br>
          <div class="button">
            <%= submit_tag 'Sign In', class: "sign-button" %>
          </div>
          <br>
        <% end %>
        <%= link_to 'Don\'t have an account? Sign Up', new_customer_path ,{ 'data-toggle' => 'modal', 'data-target' =>'#imageModal1'}%>
    </div>
  </div>
  <hr class="hr-modal-botton">
</div>
