<%= render "layouts/header" %>
<%= render "home/drawer" %>
<div class="container-fluid  ">
  <div class="row order-background" >
    <div class=" col-lg-12">
      <div class="order-form">

        Sugar, I'd like to make a <%= @order.event.type_of %>
        for <%= @order.event.number_people %> people,
        on <%= @order.event.event_date %>
        <br>
        I'd like to have my order ready to take at   <%= @order.event.delivery_date %>

        at <%= @order.store %>


        <div class="products-form">

          <%= simple_form_for [@order, @production] do |p| %>

          Qty: <%= p.input_field :quantity %>
          <%= select_tag "products", options_for_select(@products_t), prompt: "Candies" %>
          <%= p.button :submit, 'Add Candies', class: 'btn btn-primary'  %>
          <% end %>

        <div class="text-production">

            <% @order.productions.each do |p| %>
            <div class="products-order pull-left ">
              <%= p.product.title %>:
              <%= p.quantity %>
               <%= link_to 'Delete',
               order_production_path(@order, p.id),
               method: :delete, class: "delete" %>
            </div>
              <% end %>
        </div>
<div class="col-lg-5 form-submit-order">
  <%= link_to 'Submit Order', order_submit_path(@order), class: 'btn btn-primary submit-order' %>
</div>

        </div>
      </div>
    </div>
  </div>
</div>


<%= render "layouts/footer" %>
