<%= render "layouts/header" %>

<div class="container home-body col-lg-12">

<!-- modal -->
	<div id="imageModal" class="modal fade modal-style" role="dialog ">
				<div class="modal-dialog">
					<div class="modal-content">
					</div>
				</div>
		</div>
<!--  modal-->

<!-- modal passwords_resets-->
	<div id="imageModal1" class="modal fade modal-style" role="dialog ">
				<div class="modal-dialog">
					<div class="modal-content">
					</div>
				</div>
		</div>
<!--  modal passwords_resets-->
<%= render "home/drawer" %>

		<div id="intro">
		   <div class="story">
				 <section class="center">
					 <div class="slogan">
						 WHAT'S YOUR <br> SUGAR CRAVING <br> TODAY?
					 </div>
					 <div class="secondary-slogan">
						 Sugar Market Bakery has it for you!
					 </div>
				 </section>
			 </div>
		</div>

		<div id="second">
		   <div class="story">
				 <div class="container col-lg-12">
							<div class="row ">
								<div class="block-body col-lg-12">

									<div class="the-menu col-lg-offset-3 col-lg-6">
											<span>the menu</span>

											<a href="/products/show">
											<p><button type="button" name="button">SEE</button></p>
										</a>
									</div>

									<div id="slider" >
									  <ul>
											  <li><%= image_tag("home/banner1.jpg", :class => "img-home")%></li>
												<li><%= image_tag("home/banner2.jpg", :class => "img-home")%></li>
												<li><%= image_tag("home/banner3.jpg", :class => "img-home")%></li>
										</ul>
									</div>
		 				</div>

						<div class="tarteleft">
							<%= image_tag("home/tarteleft.png", :class => "img-tarteleft")%>
						</div>

						<div class="strawberry">
							<%= image_tag("home/strawberry.png", :class => "img-strawbery")%>
						</div>

						<div class="tarte">
							<%= image_tag("home/tarte.png", :class => "img-tarte")%>
						</div>

         <div class="online-order col-lg-offset-2 col-lg-8">
				 		<p>ONLINE QUOTATION IS NOW AVAILABLE</p>
						<a href="/orders/new">
						<p><button class="order-button" type="button" name="button">GO</button></p>
					  </a>
				 </div>

	  		</div>
		 	</div>
   </div>
</div>

<div id="third">
   <div class="story3">
      <div class="float-left">
				<div class="about-us">

					<h2/>HAVE A LOOK AT OUR BEAUTIFUL BAKERY<h2/>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac pretium lectus. Sed suscipit rutrum ligula, quis commodo arcu ultricies accumsan. Sed id libero est. Vivamus et semper odio. Suspendisse vel semper eros.
					Etiam bibendum in mi rhoncus egestas. Quisque volutpat magna quis nibh condimentum lacinia. Quisque venenatis tortor a pretium rutrum. Etiam elementum porta lorem sodales malesuada. Phasellus eu sapien posuere, sagittis nisi eu, efficitur velit. Donec varius, urna id interdum blandit, tellus ipsum tristique lectus, at blandit lectus lectus eu libero. Donec interdum velit sit amet rhoncus feugiat.
					Suspendisse et tortor odio. Duis sed diam tincidunt, eleifend tortor sed, aliquet magna. Aliquam semper nibh a lectus posuere, vel bibendum ante tempus. Curabitur rhoncus lobortis est bibendum congue.
					Proin rutrum orci metus, eu fringilla lacus dictum non. Morbi lorem nunc, tincidunt condimentum consectetur eget, consequat egestas massa. Cras placerat consectetur justo ac aliquet.
					Nulla tempor eu erat dignissim lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus</p>

				</div>
      </div>
   </div>
</div>

<div id="fourth">
   <div class="story4">
		 <div class="content-block  " >
			 <% if customer_signed_in? %>
			 <div class="maps col-lg-offset-1 col-lg-10">
				 <div class="col-lg-3 ">
					 <iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCreN2Qn8QXzUr1h9Gj140Imwa8EAEmPJs&origin=49.2400367,-122.9931887&destination=codecore+Vancouver,BC width="25px" height="220px""  ></iframe>
				 </div>

					<div class="content-store col-lg-3">
						<h4>Sugar Bakery Downtown</h4>
						<p>1633 Bakery Street</p>
						<p>Vancouver, British Columbia, Canada</p>
						<p><i class="fa fa-phone-square fa-1x"></i> 778 990 7634</p>
					</div>

					<div class="col-lg-3">
 					 <iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCreN2Qn8QXzUr1h9Gj140Imwa8EAEmPJs&origin=49.2400367,-122.9931887&destination=BCIT+Burnaby,BC width="25px" height="220px"" ></iframe>
 				 </div>

 					<div class="content-store col-lg-3">
						<h4>Sugar Bakery Burnaby</h4>
						<p>1234 Sugar Street</p>
						<p>Burnaby, British Columbia, Canada</p>
						<p><i class="fa fa-phone-square fa-1x"></i> 778 990 6667</p>
					</div>
			</div>
					<% else %>
					<div class="maps col-lg-offset-1 col-lg-10">
						<div class="col-lg-3 ">
							<iframe src="  https://www.google.com/maps/embed/v1/place?key=AIzaSyCreN2Qn8QXzUr1h9Gj140Imwa8EAEmPJs&q=CodeCore,+Vancouver,+BC&attribution_source=Google+Maps+Embed+API&attribution_ios_deep_link_id=comgooglemaps://?daddr=CodeCore,+Vancouver,+BC
							" width="25px" height="220px"></iframe>
						</div>

						<div class="content-store col-lg-3">
							<h4>Sugar Bakery Downtown</h4>
							<p>1633 Bakery Street</p>
							<p>Vancouver, British Columbia, Canada</p>
							<p><i class="fa fa-phone-square fa-1x"></i> 778 990 7634</p>
						</div>

						<div class="col-lg-3">
							<iframe src="  https://www.google.com/maps/embed/v1/place?key=AIzaSyCreN2Qn8QXzUr1h9Gj140Imwa8EAEmPJs&q=BCIT,+Burnaby,+BC&attribution_source=Google+Maps+Embed+API&attribution_ios_deep_link_id=comgooglemaps://?daddr=CodeCore,+Vancouver,+BC
							" width="25px" height="220px"></iframe>
						</div>

						<div class="content-store col-lg-3">
							<h4>Sugar Bakery Burnaby</h4>
							<p>1234 Sugar Street</p>
							<p>Burnaby, British Columbia, Canada</p>
							<p><i class="fa fa-phone-square fa-1x"></i> 778 990 6667</p>
						</div>
	 				</div>

					<% end %>

				 </div>
		 </div>
   </div>
</div>

<div id="fifth">
   <div class="story5">
		 <div class="content-block " >
			 <div class="container text-center">
				 <h1><i>"Life is short, eat dessert first"</i></h1>
			 </div>
		 </div>
   </div>
</div>


<%= render "layouts/footer" %>
</div>
