<%= render "layouts/header" %>

<div class="container home-body col-lg-12">

<!-- modal -->
	<div id="imageModal" class="modal fade modal-style" role="dialog ">
				<div class="modal-dialog">
					<div class="modal-content">
					</div>
				</div>
		</div>
<!--  modal-->

<!-- modal passwords_resets-->
	<div id="imageModal1" class="modal fade modal-style" role="dialog ">
				<div class="modal-dialog">
					<div class="modal-content">
					</div>
				</div>
		</div>
<!--  modal passwords_resets-->
<%= render "home/drawer" %>

		<div id="intro" class="col-md-12 col-lg-12">
		   <div class="story">
				 <section class="center">
					 <div class="slogan">
						 WHAT'S YOUR <br> SUGAR CRAVING <br> TODAY?
					 </div>
					 <div class="secondary-slogan">
						 Sugar Market Bakery has it for you!
					 </div>
				 </section>
			 </div>
		</div>

		<div id="second">
		   <div class="story">
				 <div class="container col-lg-12">
							<div class="row ">
								<div class="block-body col-lg-12">

									<div class="the-menu col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
											<span>the menu</span>

											<a href="/products">
											<p><button type="button" name="button">SEE</button></p>
										</a>
									</div>

									<div id="slider" >
									  <ul>
											  <li><%= image_tag("home/banner1.jpg", :class => "img-home")%></li>
												<li><%= image_tag("home/banner2.jpg", :class => "img-home")%></li>
												<li><%= image_tag("home/banner3.jpg", :class => "img-home")%></li>
										</ul>
									</div>
		 				</div>

						<div class="tarteleft">
							<%= image_tag("home/tarteleft.png", :class => "img-tarteleft")%>
						</div>

						<div class="strawberry">
							<%= image_tag("home/strawberry.png", :class => "img-strawbery")%>
						</div>

						<div class="tarte">
							<%= image_tag("home/tarte.png", :class => "img-tarte")%>
						</div>

         <div class="online-order col-lg-offset-2 col-lg-8">
				 		<p>ONLINE QUOTATION IS NOW AVAILABLE</p>
						<a href="/orders/new">
						<p><button class="order-button" type="button" name="button">GO</button></p>
					  </a>
				 </div>

	  		</div>
		 	</div>
   </div>
</div>

<div id="third">
   <div class="story3">
			<div class="about-us">

					<h2/>HAVE A LOOK AT OUR BEAUTIFUL BAKERY<h2/>

					<p>
					The Sugar Bakery has been serving our delicious baked goods for decades. From elegant wedding cakes and delicious buttercream cakes to breads and meat pies, we are sure to have the sweet and savoury items you’re looking for.
					At our bakery, we make all of our offerings from scratch using only the freshest local ingredients.<br>
					Over the years, Sugar Bakery has satisfied the desire of anyone looking for sweets. Our pastries are one of a kind and we realize that that a tasty dessert is a part of anyone's culture so our products take on a special significance.
				</p>
			</div>
   </div>
</div>

<div id="fourth">
   <div class="story4">
		 <div class="content-block  " >
			 <% if customer_signed_in? %>
			 <div class="maps col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
				 <div class="maps-frame col-lg-3 ">
					 <iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCreN2Qn8QXzUr1h9Gj140Imwa8EAEmPJs&origin=<%=@location.latitude%>,<%=@location.longitude%>&destination=codecore+Vancouver,BC"  ></iframe>
				 </div>

					<div class="content-store col-lg-3">
						<h4>Sugar Bakery Downtown</h4>
						<p>1633 Bakery Street</p>
						<p>Vancouver, British Columbia, Canada</p>
						<p><i class="fa fa-phone-square fa-1x"></i> 778 990 7634</p>
					</div>

					<div class="maps-frame col-lg-3">
 					 <iframe src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCreN2Qn8QXzUr1h9Gj140Imwa8EAEmPJs&origin=<%=@location.latitude%>,<%=@location.longitude%>&destination=BCIT+Burnaby,BC " ></iframe>
 				 </div>

 					<div class="content-store col-lg-3">
						<h4>Sugar Bakery Burnaby</h4>
						<p>1234 Sugar Street</p>
						<p>Burnaby, British Columbia, Canada</p>
						<p><i class="fa fa-phone-square fa-1x"></i> 778 990 6667</p>
					</div>
			</div>
					<% else %>
					<div class="maps col-lg-offset-1 col-lg-10">
						<div class="maps-frame col-lg-3 ">
							<iframe src="  https://www.google.com/maps/embed/v1/place?key=AIzaSyCreN2Qn8QXzUr1h9Gj140Imwa8EAEmPJs&q=CodeCore,+Vancouver,+BC&attribution_source=Google+Maps+Embed+API&attribution_ios_deep_link_id=comgooglemaps://?daddr=CodeCore,+Vancouver,+BC
							" ></iframe>
						</div>

						<div class="maps-frame content-store col-lg-3">
							<h4>Sugar Bakery Downtown</h4>
							<p>1633 Bakery Street</p>
							<p>Vancouver, British Columbia, Canada</p>
							<p><i class="fa fa-phone-square fa-1x"></i> 778 990 7634</p>
						</div>

						<div class="maps-frame col-lg-3">
							<iframe src="  https://www.google.com/maps/embed/v1/place?key=AIzaSyCreN2Qn8QXzUr1h9Gj140Imwa8EAEmPJs&q=BCIT,+Burnaby,+BC&attribution_source=Google+Maps+Embed+API&attribution_ios_deep_link_id=comgooglemaps://?daddr=CodeCore,+Vancouver,+BC
							"></iframe>
						</div>

						<div class="content-store col-lg-3">
							<h4>Sugar Bakery Burnaby</h4>
							<p>1234 Sugar Street</p>
							<p>Burnaby, British Columbia, Canada</p>
							<p><i class="fa fa-phone-square fa-1x"></i> 778 990 6667</p>
						</div>
	 				</div>

					<% end %>

				 </div>
		 </div>
   </div>
</div>

<div id="fifth">
   <div class="story5">
		 <p><i>"Life is short, eat dessert first"</i></p>
   </div>
</div>


<%= render "layouts/footer" %>
</div>
