<div class="container-fluid form-template">
  <div class="row">
    <%= link_to 'X',  root_path, class: "pull-right back-cust"%>
    <div class="sessions  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-42 col-lg-9 col-lg-offset-2">

<br><br>
    <h2>Sign Up</h2>
    <%= @customer.errors.full_messages.join(', ') %>
    <%= simple_form_for @customer do |f| %>
    <div>
      <p>First Name:</p>
      <%= f.text_field :first_name %>
    </div>
    <div>
      <p>Last Name:</p>
      <%= f.text_field :last_name %>
    </div>
    <div>
      <p>E-mail:</p>
      <%= f.email_field :email %>
    </div>
    <div>
      <p>Phone</p>
      <%= f.text_field :phone %>
    </div>
    <div>
      <p>Address:</p>
      <%= f.text_field :address %>
    </div>
    <div>
      <p>PAssword:</p>
      <%= f.password_field :password %>
    </div>
    <div>
      <p>Confirm Password</p>
      <%= f.password_field :password_confirmation %>
    </div>
<br>
    <div class="button">
      <%= f.submit 'Sign Up' %>
    </div>


    <% end %>

  </div>
</div>
</div>
