<div class="container-fluid form-template">

  <div class="row close-button">
    <%= link_to   root_path, class: "pull-right close-button" do%>
    <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
    <% end %>
        <div class="col-md-12 hr-modal">
          <hr>
        </div>
    <div class="sessions  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-4 col-lg-8 col-lg-offset-3">
        <br>
      <p><b>Name:</b> <%= @customer.first_name.titleize %> <%= @customer.last_name.titleize%></p>
      <p><b>Email:</b> <%= @customer.email %></p>

      <%= link_to 'Logout', logout_path, method: :delete %> |
      <%= link_to 'Change Password',edit_passwords_reset_path(@customer.id),{ 'data-dismiss' =>'modal' ,'data-toggle' => 'modal', 'data-target' =>'#imageModal1'}%>

    <br>


      <div id="imageModal" class="modal fade modal-style" role="dialog ">
            <div class="modal-dialog">
              <div class="modal-content">
              </div>
            </div>
        </div>

      </div>
    </div>
    <hr class="hr-modal-botton">
  </div>
