<%= render "layouts/header" %>
<%= render "home/drawer" %>
<div id="imageModal" class="modal fade modal-style" role="dialog ">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

        </div>
      </div>
  </div>
<div class="container-fluid  ">
  <div class="row order-background" >
    <div class="menu-order col-lg-12">
  		<div class="col-lg-offset-1 col-lg-10">

  			<div class="pull-right">
  				<p><%= link_to  '< BACK', root_path, class: "back-order"%></p>
  				<%#= link_to 'Submit Order', order_submit_path(@order) %>
  			</div>
  			<div class="pull-left">
  				<p>MAKE YOUR ORDER</p>
  			</div>
  		</div>
    </div>
    <div class=" col-lg-12">

      <div class="order-form">

        <%= simple_form_for @order do |o| %>

        <%= simple_fields_for @event do |e| %>

        Sugar, I'd like to make a <%= e.input_field :type_of , collection: ['Wedding', 'Workshop', 'Birthday Party'], label: false, prompt: 'Event' %>
        for <%= e.input_field :number_people, range: 100 %> people,
        on <%= e.date_field :event_date %>

        I'd like to have my order ready to take at   <%= e.date_field :delivery_date,as: :date %>
        <% end %>
        at <%= o.input_field :store, collection: ['Burnaby', 'BC'], prompt: 'Store', label: false %>

        <div><%= o.submit class: 'btn btn-primary' %></div>
        <% end %>

        </div>

    </div>
  </div>
</div>
<%= render "layouts/footer" %>
