<div class="container-fluid form-template">
  <div class="row">
    <%= link_to 'X', root_path, class: "pull-right back-cust"%>
    <hr>
    <div class="sessions  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-4 col-lg-9 col-lg-offset-2">

            <%= @customer.errors.full_messages.join(', ') %>
            <h1> Password Reset </h1>
            <%= simple_form_for @customer, :url => { :controller => "passwords_resets", :action => "update"} do |f|%>

            <div class="password-email">
              <%= f.input :email %>
            </div>
            <div>
              <%= f.input :password %>
            </div>
            <div>
              <%= f.input :password_confirmation %>
            </div>
            <%= f.submit 'Update',class: 'button-form' %>
            <% end %>

      </div>
    </div>
    <hr>
  </div>
</div>
