<%= render "layouts/header" %>
<%= render "home/drawer" %>

<div class="container-fluid ">
  <div class="row product-background">
    <div class="col-md-12 col-lg-12">



  <div class="menu rol col-lg-12">
		<div class="col-lg-offset-1 col-lg-10">

			<div class="pull-right">
				<p><%= link_to  '< BACK', root_path %></p>
			</div>
			<div class="pull-left">
				<p><%= link_to  'PRODUCTS', products_path %></p>
			</div>
		</div>
  </div>

<div class="search col-lg-12">
	<div class="col-lg-offset-1 col-lg-10">

		<%= form_tag "/search", method: :get do %>

		<b style="color: white">Search: </b> <%= select_tag "flavour", options_for_select(@flavours),prompt: "Flavours" %>
		<%= select_tag "calories", options_for_select(@calories.sort), prompt: "Calories" %>
		<%= select_tag "type_of", options_for_select(@types),prompt: "Types" %>

		<%= submit_tag "GO", class: "search-button" %>
		<% end %>
	</div>
</div>

<div class=" row gallery col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 " id="js-gallery">
  <% if  @found.present? %>
    <% @found.each do |f| %>
      <%= render "products/found", f: f %>
    <% end %>
    <% else %>
      <% @products.each do |p| %>
        <%= render "products/product", p: p %>
      <% end %>
  <% end %>
</div>

	<!-- modal -->
		<div id="imageModal" class="modal fade modal-style" role="dialog ">
					<div class="modal-dialog">
						<div class="modal-content">
						</div>
					</div>
			</div>
	<!--  modal-->

	<!-- modal passwords_resets-->
		<div id="imageModal1" class="modal fade modal-style" role="dialog ">
					<div class="modal-dialog">
						<div class="modal-content">
						</div>
					</div>
			</div>
	<!--  modal passwords_resets-->

	  </div>
	</div>
</div>

<%= render "layouts/footer" %>
