
		<div id="drawer-right" >

			<div class="cross text-right")%>
				<a class="toggleDrawer" href="#")%><i class="fa fa-times-circle fa-2x")%></i></a>
			</div>
			<nav>
				<ul class="nav nav-pills nav-stacked")%>
					<li>
						<a href="#wrapper")%>HOME</a>
					</li>
					<li>
						<a href="#portfolio")%>OUR PRODUCTS</a>
					</li>
					<li>
						<a href="#contact")%>ORDERING</a>
					</li>
					<li>
						<a href="#services")%>ABOUT US</a>
					</li>
				</ul>
			</nav>
            <div class="phone")%><a href="")%><i class="fa fa-phone-square fa-2x")%></i></a><p>778 990 6667</p></div><br>
			<div class="social")%>
				<ul>
					<li><a href="")%><i class="fa fa-facebook-square fa-3x")%></i></a></li>
                    <li><a href="")%><i class="fa fa-youtube-square fa-3x")%></i></a></li>
                    <li><a href="")%><i class="fa fa-instagram-square fa-3x")%></i></a></li>
					<li><a href="")%><i class="fa fa-twitter-square fa-3x")%></i></a></li>
				</ul>
			</div>
		</div><!-- #drawer-right -->

		<div id="wrapper")%>

			<div id="header" class="content-block")%>
				<section class="top clearfix")%>
					<div class="pull-left")%>
						<h1><a class="logo" href="index.html")%><%= image_tag("Logo.png", :class => "Logo.png")%></a></h1>
					</div>
					<div class="pull-right" >
						<a class="toggleDrawer" href="#")%>
							<i class="signUp")%>Sign Up</i>
							<i class="fa fa-bars fa-2x")%></i>
						</a>
					</div>
				</section>
				<section class="center")%>
					<div class="slogan")%>
						WHAT'S YOUR <br> SUGAR CRAVING <br> TODAY?
					</div>
					<div class="secondary-slogan")%>
						Sugar Market Bakery has it for you!
					</div>
				</section>
			</div><!-- header -->

			<div class="content-block" id="portfolio")%>
				<div class="container")%>
					<header class="block-heading cleafix")%>
						<!--a href="#" class="btn btn-o btn-lg pull-right")%>View All</a-->
            <%= image_tag("filters.png", :class => "filters.png")%>

					</header>
					<section class="block-body")%>
						<div class="row")%>
							<div class="col-sm-12")%>
								<!--a href="#" class="recent-work" style="background-image: image-url("rain_1-320x240.jpg)"</a>-->
                                <div class="feature")%>
                                    <div class="tooltips")%>
                                    <div id="tooltip")%>
                                        <a href="" data-tooltip="Fresh organic Goosberries")%><i class="fa fa-plus-circle fa-3x")%></i></a>
                                        </div>
                                    <div id="tooltip2")%>
                                        <a href="" data-tooltip="Gluten-free waffle dough  Ingredients: Rice flour")%><i class="fa fa-plus-circle fa-3x")%></i></a>
                                        </div>
                                    <div id="tooltip3")%>
                                        <a href="" data-tooltip="Goosberry Jam")%><i class="fa fa-plus-circle fa-3x")%></i></a>
                                        </div>
                                        </div>
                                    <div class="arrows-slider")%>
                                        <i class="fa fa-arrow-circle-o-left fa-5x")%>
                                        </i>
                                        <i class="fa fa-arrow-circle-o-right fa-5x")%>
                                             </i>
                                    </div>
                                    <div class="col-sm-5")%>
                                      <%= image_tag("Logo.png", :class => "Logo.png")%>
                                    <%= image_tag("pancake.png")%>
                                    </div>
                                    <div class="col-sm-6")%>
                                    <div class="prod-description")%>
									<p class="product-title")%><b>Goosberry</b> Waffles<br>
                                        <span><i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i>
                                        </span></p>
                                        <p>
                                        Heavenly made waffles, swrilled with home-made goosberries jam. Each enhanced with our own unique flavours and baked to perfection.
                                            </p>
                                        </div>
                                        </div>
								</div>
							</div>
						</div>
						<div class="row")%>
                            <div class="col-sm-3")%>
								<a href="#" class="recent-work" style="background-image: image-url('redvelvet.png')")%>
                                    <p class="prod-hover-desc")%>Red Velvet Cake<br><i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i></p>
									<span class="btn btn-o-white")%>See More</span>
								</a>
							</div>
							<div class="col-sm-3")%>
								<a href="#" class="recent-work" style="background-image: image-url("raspberry-tarte.png")")%>
                                    <p class="prod-hover-desc")%>Raspberry Cocoa Tart<br><i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i>
                                    </p>
									<span class="btn btn-o-white")%>See More</span>
								</a>
							</div>
							<div class="col-sm-3")%>
								<a href="#" class="recent-work" style="background-image: image-url("cupcake111.png")")%><p class="prod-hover-desc")%>Coconut Whipping Cupcake<br><i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i></p>
									<span class="btn btn-o-white")%>See More</span>
								</a>
							</div>
							<div class="col-sm-3")%>
								<a href="#" class="recent-work" style="background-image: image-url("chocolatechipcookie.png")")%>
                                    <p class="prod-hover-desc")%>Cocoa Chip Cookie<br><i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i>
                                    <i class="fa fa-star fa-1x")%></i></p>
									<span class="btn btn-o-white")%>See More</span>
								</a>
							</div>
						</div>
					</section>
				</div>
            <section class="bottom2")%>
						  <%= image_tag("arrow_down.png")%>
						</section>
			</div><!-- #products -->
<br><br>
			<div class="content-block" id="contact")%>
				<div class="container")%>
					<section class="block-body2")%>
						<div class="col-sm-10")%>
							<div class="row")%>
								<form class="form-inline" role="form")%>

									<div class="form-group")%>
                                        Sugar, I'd like to make a
								    	<select name="event-type" class="form-control form-control-white")%>
                                        <option value="EVENT TYPE")%>Event Type</option>
                                        <option value="saab")%>Wedding</option>
                                        <option value="fiat")%>Workshop</option>
                                        <option value="audi")%>Birthday Party</option>
                                        </select></div>
                                        <div class="form-group")%>
                                        for
                                        <input type="number" class="form-control form-control-white" name="quantity" min="1" max="80" placeholder="0" required>
								  	</div>

								    <div class="form-group")%>
                                        people, on
								    	<input type="month" class="form-control form-control-white" name="month" required>
								    </div>
                                        ,
                                        <input type="number" class="form-control form-control-white" name="quantity" min="1" max="30" placeholder="0" required><br>
                                        I'd like to have my order ready to take at
                                        <input type="time" class="form-control form-control-white" name="usr_time" placeholder="0" required>
								    <div class="form-group")%>
                                        <label for="event")%>at</label>
								    	<select name="event-type" class="form-control form-control-white")%>
                                        <option value="EVENT TYPE")%>Pick out a store location</option>
                                        <option value="saab")%>Burnaby</option>
                                        <option value="fiat")%>Downtown</option>
                                        <option value="audi")%>North Vancouver</option>
                                        </select>
                                    </div>
                                    <div class="form-group")%>
                                        Please, send a quotation to
								    	<input type="email" class="form-control form-control-white" id="exampleInputEmail2" placeholder="Type your e-mail here   " required>
								    </div>
                                    <br><br>
                                    <div class="product-quote col-sm-12")%>
                                        <div class="form-group")%>
                                        PRODUCTS:
								    	<select name="event-type" class="form-control form-control-white")%>
		                      <option value="product")%>Product</option>
		                      <option value="cake")%>Cake</option>
		                      <option value="bread")%>Bread</option>
		                      <option value="pastry")%>Pastry</option>
		                      <option value="pastry")%>    Deserts    </option>
		                      <option value="pastry")%>    Catering    </option>
                      </select>

								    </div>
                                        <div class="form-group")%>
								    	<select name="event-type" class="form-control form-control-white")%>
                                        <option value="TYPE")%>Type</option>
                                        <option value="saab")%>Simple</option>
                                        <option value="fiat")%>Party Cake</option>
                                        <option value="audi")%>Wedding cake</option>
                                            <option value="audi")%>Filled cake</option>
                                        </select>
								    </div>
                                        <div class="form-group")%>
								    	<select name="event-type" class="form-control form-control-white")%>
		                      <option value="EVENT TYPE")%>Options</option>
		                      <option value="saab")%>Classic Vanilla Bean</option>
		                      <option value="fiat")%>Chocolate Truffle</option>
		                      <option value="audi")%>Tiramisu</option>
		                       <option value="audi")%>Lemon Raspberry</option>
		                      <option value="audi")%>Hazelnut</option>
		                      <option value="audi")%>Pink Velvet</option>
		                      <option value="audi")%>Raspberry Cheesecake</option>
                      </select>
								    </div>
                                        <div class="form-group")%>
								    	<select name="event-type" class="form-control form-control-white")%>
			                    <option value="quantity")%>Quantity</option>
			                    <option value="saab")%>Enough to my invitees</option>
			                    <option value="fiat")%>1kg</option>
			                    <option value="audi")%>2kg</option>
	                        <option value="audi")%>3kg</option>
	                        <option value="audi")%>4kg</option>
	                        <option value="audi")%>5kg</option>
	                        <option value="audi")%>6kg</option>
	                        <option value="audi")%>7kg</option>
	                        <option value="audi")%>8kg</option>
	                        <option value="audi")%>9kg</option>
	                        <option value="audi")%>10kg</option>
	                    </select>
								    										</div>
                                        <div class="col-sm-1 pull-right")%>
                                       <i class="fa fa-plus-circle fa-2x")%></i>
                                            </div>
                                        <div>
                                        <%= image_tag("cake-selected.png", :id => "cake", :alt => "Item selected")%>/>
                                            </div>
                                    </div>
								  <input type="submit" class="btn btn-o-white" value="SUBMIT")%>
								</form>
							</div>
						</div>
					</section>
				</div>
                 <section class="bottom3")%>

						  <%= image_tag("arrow_down.png")%>

								</section>
			</div><!-- #contact -->


            <div class="content-block parallax" id="services")%>
                <div class="whitebg")%>
				<div class="container text-center")%>
					<header class="block-heading cleafix")%>
						<h2>HAVE A LOOK AT OUR BEAUTIFUL BAKERY</h2>
					</header>
					<section class="block-body")%>
						<div class="row")%>
                            <div class="col-md-11")%><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac pretium lectus. Sed suscipit rutrum ligula, quis commodo arcu ultricies accumsan. Sed id libero est. Vivamus et semper odio. Suspendisse vel semper eros.<br> Etiam bibendum in mi rhoncus egestas. Quisque volutpat magna quis nibh condimentum lacinia. Quisque venenatis tortor a pretium rutrum. Etiam elementum porta lorem sodales malesuada. Phasellus eu sapien posuere, sagittis nisi eu, efficitur velit. Donec varius, urna id interdum blandit, tellus ipsum tristique lectus, at blandit lectus lectus eu libero. Donec interdum velit sit amet rhoncus feugiat.<br><br>

Suspendisse et tortor odio. Duis sed diam tincidunt, eleifend tortor sed, aliquet magna. Aliquam semper nibh a lectus posuere, vel bibendum ante tempus. Curabitur rhoncus lobortis est bibendum congue.<br> Proin rutrum orci metus, eu fringilla lacus dictum non. Morbi lorem nunc, tincidunt condimentum consectetur eget, consequat egestas massa. Cras placerat consectetur justo ac aliquet. <br>Nulla tempor eu erat dignissim lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus</p></div>

						</div>
					</section>
				</div>
			 </div>
			</div>

			<div class="content-block parallax" id="parallax")%>
				<div class="container text-center")%>
					<h1><i>"Life is short, eat dessert first"</i></h1>
				</div>
			</div><!-- #parallax -->


			<div class="content-block" id="footer")%>

			</div><!-- #footer -->


		</div><!--/#wrapper-->

<script>
// (function($,sr){
//
//   var debounce = function (func, threshold, execAsap) {
//       var timeout;
//
//       return function debounced () {
//           var obj = this, args = arguments;
//           function delayed () {
//               if (!execAsap)
//                   func.apply(obj, args);
//               timeout = null;
//           };
//
//           if (timeout)
//               clearTimeout(timeout);
//           else if (execAsap)
//               func.apply(obj, args);
//
//           timeout = setTimeout(delayed, threshold || 100);
//       };
//   }
//
//   jQuery.fn[sr] = function(fn){  return fn ? this.bind('resize', debounce(fn)) : this.trigger(sr); };
//
// })(jQuery,'smartresize');


(function(){

	$wrapper = $('#wrapper');
	$drawerRight = $('#drawer-right');

	// ///////////////////////////////
	// // Set Home Slideshow Height
	// ///////////////////////////////
	//
	// function setHomeBannerHeight() {
	// 	var windowHeight = jQuery(window).height();
	// 	jQuery('#header').height(windowHeight);
	// }
	//
	// ///////////////////////////////
	// // Center Home Slideshow Text
	// ///////////////////////////////
	//
	// function centerHomeBannerText() {
	// 		var bannerText = jQuery('#header > .center');
	// 		var bannerTextTop = (jQuery('#header').actual('height')/2) - (jQuery('#header > .center').actual('height')/2) - 40;
	// 		bannerText.css('padding-top', bannerTextTop+'px');
	// 		bannerText.show();
	// }



	///////////////////////////////
	// SlideNav
	///////////////////////////////

	function setSlideNav(){
		jQuery(".toggleDrawer").click(function(e){
			//alert($wrapper.css('marginRight'));
			e.preventDefault();

			if($wrapper.css('marginLeft')=='0px'){
				$drawerRight.animate({marginRight : 0},200);
				$wrapper.animate({marginLeft : -300},200);
			}
			else{
				$drawerRight.animate({marginRight : -300},200);
				$wrapper.animate({marginLeft : 0},200);
			}

		})
	}

	////////////////////////////////////////////////////

	// function setHeaderBackground() {
	// 	var scrollTop = jQuery(window).scrollTop(); // our current vertical position from the top
	//
	// 	if (scrollTop > 300 || jQuery(window).width() < 700) {
	// 		jQuery('#header .top').addClass('solid');
  //           jQuery('#header .top img').attr("src", " assets/images/Logo-small.png");
	// 	} else {
	// 		jQuery('#header .top').removeClass('solid');
  //           jQuery('#header .top img').attr("src", " assets/images/Logo.png");
	// 	}
	// }




	///////////////////////////////
	// Initialize
	///////////////////////////////

// 	jQuery.noConflict();
// 	setHomeBannerHeight();
// 	// centerHomeBannerText();
	setSlideNav();
// 	setHeaderBackground();
//
// 	//Resize events
// 	jQuery(window).smartresize(function(){
// 		setHomeBannerHeight();
// 		centerHomeBannerText();
// 		setHeaderBackground();
// 	});
//
// 	jQuery(window).scroll( function() {
// 	   setHeaderBackground();
// 	});
//
})();
</script>
		<!-- <script src="assets/js/jquery-2.1.3.min.js")%></script>

		<script src="assets/js/script.js")%></script> -->
