
<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> -->
<%= render "layouts/header" %>

<div id="drawer-right" >
	<div class="cross text-right">
		<a class="move1" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
	</div>

			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#intro">HOME</a>
					</li>
					<li>
						<a href="#second">OUR PRODUCTS</a>
					</li>
					<li>
						<a href="#third">ORDERING</a>
					</li>
					<li>
						<a href="#fourth">ABOUT US</a>
					</li>
				</ul>
			</nav>

      <div class="phone">
				<a href=""><i class="fa fa-phone-square fa-2x"></i></a>
				<p>778 990 6667</p>
			</div>

			<br>

			<div class="social">
				<ul>
					<li><a href=""><i class="fa fa-facebook-square fa-3x"></i></a></li>
          <li><a href=""><i class="fa fa-youtube-square fa-3x"></i></a></li>
          <li><a href=""><i class="fa fa-instagram-square fa-3x"></i></a></li>
					<li><a href=""><i class="fa fa-twitter-square fa-3x"></i></a></li>
				</ul>
			</div>
		</div>

		<div id="intro">
		   <div class="story">
				 <section class="center">
					 <div class="slogan">
						 WHAT'S YOUR <br> SUGAR CRAVING <br> TODAY?
					 </div>
					 <div class="secondary-slogan">
						 Sugar Market Bakery has it for you!
					 </div>
				 </section>
			 </div>
		</div>

		<div id="second">
		   <div class="story">
				 <div class="container">
					 <%#= @products.length %>
					 <%#= image_tag @products[6].id %>

					 <div class="search-products col-lg-12">

						 <%= form_tag "/search", method: :get do %>

						 Calories:<%= select_tag "calories", options_for_select(@calories) %>
						 Flavours:<%= select_tag "flavour", options_for_select(@flavours) %>
						 Type:<%= select_tag "type_of", options_for_select(@types) %>


						 <%#= select_tag "ingredient", options_from_collection_for_select(@ingredients, "id", "ingredient") %>
						 <%#= select_tag "title", options_from_collection_for_select(@products, "id", "title") %>
						 <%# select_tag "type_of", options_from_collection_for_select(@types, "id", "type_of"), unique: true %>

						 <%#= select_tag "calories",options_from_collection_for_select(@products.includes(:calories), :id, :title) %>
						 <%= submit_tag "Go" %>
						 <% end %>

					 </div>
							<div class="row ">

								<div class="block-body col-lg-12">
									<div id="slider">
									  <a href="#" class="control_next">>></a>
									  <a href="#" class="control_prev"><</a>
									  <ul>
											<% @products.each do |p| %>
											  <li><%= image_tag p.image.url(:large), :class => "products-img" %></li>

											<% end %>

										</ul>
									</div>

									<div class="slider_option">
									  <input type="checkbox" id="checkbox">
									  <label for="checkbox">Autoplay Slider</label>
									</div>


		 				</div>







































         <div class="order">

						<form id="product-form">
  						<select id="product-select">
							  <% @products.each do |p| %>
								  <option  id="<%= p.id %>"><%= p.title %></option>
								<% end %>
							</select>
							<select id="flavours">
							</select>
							<select id="types">
							</select>


							<!-- <input id="product-button"><i class="fa fa-plus-circle fa-2x" ></i> -->
							<input type="submit" name="" value="Add Product" id="product-button" ></input>
						</form>

						<div class="list-order">

						</div>
					</div>




































		 			</div>

		      <section class="bottom2">
		 						  <!-- <img src="assets/images/arrow_down.png"> -->
		 			</section>

		 	</div>
   </div>
</div>

<div id="third">
   <div class="story3">
      <div class="float-left">
				<div class="about-us">

					<h2/>HAVE A LOOK AT OUR BEAUTIFUL BAKERY<h2/>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac pretium lectus. Sed suscipit rutrum ligula, quis commodo arcu ultricies accumsan. Sed id libero est. Vivamus et semper odio. Suspendisse vel semper eros.
					Etiam bibendum in mi rhoncus egestas. Quisque volutpat magna quis nibh condimentum lacinia. Quisque venenatis tortor a pretium rutrum. Etiam elementum porta lorem sodales malesuada. Phasellus eu sapien posuere, sagittis nisi eu, efficitur velit. Donec varius, urna id interdum blandit, tellus ipsum tristique lectus, at blandit lectus lectus eu libero. Donec interdum velit sit amet rhoncus feugiat.
					Suspendisse et tortor odio. Duis sed diam tincidunt, eleifend tortor sed, aliquet magna. Aliquam semper nibh a lectus posuere, vel bibendum ante tempus. Curabitur rhoncus lobortis est bibendum congue.
					Proin rutrum orci metus, eu fringilla lacus dictum non. Morbi lorem nunc, tincidunt condimentum consectetur eget, consequat egestas massa. Cras placerat consectetur justo ac aliquet.
					Nulla tempor eu erat dignissim lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus</p>

				</div>
      </div>
   </div>
</div>

<div id="fourth">
   <div class="story4">
		 <div class="content-block " >
			 <div class="container text-center">
				 <h1><i>"Life is short, eat dessert first"</i></h1>
			 </div>
		 </div>
   </div>
</div>

<script>




</script>
