
<div class="container-fluid review">
  <div class="row">
    <div class="  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">



        <%= simple_form_for @reviews  do |f|%>
        <fieldset class="rating">
          <legend>Please rate:</legend>
          <%= f.radio_button(:rating, 5) %> <%= f.label(:rating, "5") %>
          <%= f.radio_button(:rating, 4) %> <%= f.label(:rating, "4") %>
          <%= f.radio_button(:rating, 3) %> <%= f.label(:rating, "3") %>
          <%= f.radio_button(:rating, 2) %> <%= f.label(:rating, "2") %>
          <%= f.radio_button(:rating, 1) %> <%= f.label(:rating, "1") %>
        </fieldset>

        <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>

form_tag do
radio_button_tag

<%= <%= form_tag submission_path, method: :get, class: "navbar-form navbar-left search-form" do %>
  <%= text_field_tag(
      :search,
      params[:search],
      placeholder: "Search",
      class: "form-control"
  ) %>
<% end %> %>
