<!DOCTYPE html>
<html>
  <head>
    <title>SugarMarket</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>


  <body>
    <%= stylesheet_link_tag "application", '//fonts.googleapis.com/css?family=Quicksand', :media => "all" %>
    <%= stylesheet_link_tag "application", '//fonts.googleapis.com/css?family=Alegreya+Sans|Open+Sans+Condensed:300', :media => "all" %>
    <%= yield %>

  </body>
</html>
